<footer>
    <a href="/">
        <img src="/assets/img/logo.png">
        <h5>Argus</h5>
    </a>
    <div class="links">
        <a href="/impressum">Legal notice</a>
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms of Service</a>
    </div>
</footer>