@charset "UTF-8";
@import url("./main.css");
.top {
  margin-top: 30px;
  max-width: 100%;
}
.top h2 {
  margin-bottom: 0;
}
.top .path {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 10px;
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-all;
}
.top .path a {
  color: var(--white-1);
  text-decoration: none;
  margin-right: 5px;
  font-weight: 500;
  width: -moz-fit-content;
  width: fit-content;
  word-break: normal;
}
.top .path .arrow {
  margin-right: 5px;
}
.top .path a,
.top .path .arrow {
  font-size: 17px;
  color: var(--light-grey);
}
@media screen and (max-width: 580px) {
  .top .path a,
  .top .path .arrow {
    font-size: 13px;
    color: var(--light-grey);
  }
}

.main button.save {
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--success);
  border: none;
  color: var(--white-1);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 7px;
  transition: scale 0.2s ease-in-out;
}
.main button.save:hover {
  cursor: pointer;
}
.main button.save:active {
  scale: 0.95;
}
.main .section {
  width: calc(100% - 30px);
  position: relative;
  margin-top: 45px;
  padding: 15px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.1);
}
.main .section:first-of-type {
  margin-top: 45px;
}
.main .section h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  display: flex;
  align-items: center;
}
.main .section h3 svg {
  height: 25px;
  width: auto;
  margin-right: 10px;
}
.main .section p {
  font-size: 17px;
  font-weight: 500;
}
.main select {
  background-color: var(--grey-1);
  color: var(--white-1);
  font-size: 17px;
  padding: 7px 14px;
  border-radius: 7px;
  border: none;
  accent-color: var(--blue-1);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.main select option {
  color: var(--white-2);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.main input {
  background-color: var(--grey-1);
  color: var(--white-1);
  font-size: 17px;
  padding: 7px 14px;
  border-radius: 7px;
  border: none;
  accent-color: var(--blue-1);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.main .btn-input-sec {
  display: flex;
  max-width: 100%;
}
.main .btn-input-sec select {
  width: 100px;
}
.main .btn-input-sec input,
.main .btn-input-sec select {
  flex-grow: 1;
}
.main .btn-input-sec button {
  margin-left: 15px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--success);
  border: none;
  color: var(--white-1);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 7px;
  transition: scale 0.2s ease-in-out;
}
.main .btn-input-sec button:hover {
  cursor: pointer;
}
.main .btn-input-sec button:active {
  scale: 0.95;
}
.main table {
  width: 100%;
  margin-top: 30px;
  border-spacing: 0px;
}
.main table button.rmvBtn {
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 600;
  color: var(--white-1);
  padding: 12px;
  border-radius: 7px;
  transition: scale 0.2s ease-in-out;
}
.main table button.rmvBtn:hover {
  cursor: pointer;
}
.main table button.rmvBtn:active {
  scale: 0.95;
}
.main table td.activated {
  color: var(--success);
}
.main table td.deactivated {
  color: var(--danger);
}
.main table tr {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 18px;
}
.main table tr th {
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 18px;
}
.main table tr td {
  border-top: #252525 solid 3px;
  text-align: center;
}
.main table table,
.main table th,
.main table td {
  padding: 15px;
}
.main table tr:first-of-type th:first-of-type {
  border-top-left-radius: 7px;
}
.main table tr:first-of-type th:last-of-type {
  border-top-right-radius: 7px;
}
@media screen and (max-width: 700px) {
  .main table {
    border: 0;
    border-radius: 7px;
  }
  .main table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    border-radius: 7px;
  }
  .main table tbody {
    border-radius: 7px;
  }
  .main table tr {
    display: block;
    margin-bottom: 0.625em;
  }
  .main table tr td {
    display: block;
    font-size: 0.8em;
    text-align: right;
    height: 20px;
    line-height: 20px;
  }
  .main table tr td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white-1);
  }
  .main table tr td:first-child {
    border-top: none;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }
  .main table tr td:last-child {
    border-bottom: 0;
    text-align: center;
  }
  .main table tr td:last-child button {
    font-size: 14px;
    padding: 0px;
    background-color: transparent;
    text-decoration: underline;
  }
  .main table tr {
    border-radius: 7px;
  }
}

select.customArrow {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  height: 43px;
}
select.customArrow::after {
  content: "⌄";
  position: absolute;
  font-size: 18px;
  bottom: 15px;
  right: 15px;
  color: var(--white-1);
  font-weight: 500;
  transform: scale(1.5, 1);
}/*# sourceMappingURL=feature.css.map */