@import url("./main.css");

.top {
    margin-top: 30px;

    .path {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 10px;
        max-width: 100%;

        a {
            color: var(--white-1);
            text-decoration: none;
            margin-right: 5px;
            font-weight: 500;
            width: fit-content;
        }

        .arrow {
            margin-right: 5px;
        }

        a, .arrow {
            font-size: 17px;
            color: var(--light-grey);
        }

        @media screen and (max-width: 580px) {
            a, .arrow {
                font-size: 13px;
                color: var(--light-grey);
            }
        }
    }
}

main {

    .featurelist {
        display: flex;
        flex-wrap: wrap;

        .feature {
            display: flex;
            align-items: center;
            background-color: rgba(0, 0, 0, 10%);
            padding: 20px;
            border-radius: 7px;
            max-width: 440px;
            flex-grow: 1;
            margin: 10px;
            color: var(--white-1);
            text-decoration: none;
            transition: scale .2s ease-in-out;

            h5 {
                margin: 0;
                margin-bottom: 5px;
                font-size: 22px;
                color: var(--blue-1);
            }

            p {
                margin: 0;
                font-size: 16px;
                line-height: 1.3;
            }

            svg {
                --hw: 45px;
                width: var(--hw);
                height: var(--hw);
                margin-right: 15px;
                min-width: var(--hw);
                max-width: var(--hw);
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &:hover {
                cursor: pointer;
            }

            &:active {
                scale: .97;
            }

            @media screen and (max-width: 1000px) {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .botsettings {
        margin-top: 50px;
        
        .settingsBox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgba(0, 0, 0, 10%);
            padding: 20px;
            border-radius: 7px;
            flex-grow: 1;
            margin: 10px;
            color: var(--white-1);
            text-decoration: none;

            @media screen and (max-width: 500px) {
                flex-direction: column;
                align-items: start;
                
                select {
                    margin-top: 15px;
                    width: 100%;
                }
            }

            .left {
                display: flex;
                align-items: center;
            }

            svg {
                --hw: 45px;
                width: var(--hw);
                height: var(--hw);
                margin-right: 15px;
                min-width: var(--hw);
                max-width: var(--hw);
            }

            h5 {
                margin: 0;
                margin-bottom: 5px;
                font-size: 22px;
                color: var(--blue-1);
            }

            p {
                margin: 0;
                font-size: 16px;
                line-height: 1.3;
            }

            select {
                background-color: var(--grey-1);
                color: var(--white-1);
                font-size: 17px;
                padding: 7px;
                border-radius: 7px;
                border: none;
                accent-color: var(--blue-1);
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
        
                option {
                    color: var(--white-2);
                    font-family: 'Poppins', sans-serif;
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }
    }
}