#impressum {
    align-items: start;
    padding-top: 30px;

    h1 {
        font-size: 35px;
        margin: 0;
        margin-bottom: 20px;
    }

    h2 {
        margin: 0;
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 26px;
    }

    h3 {
        margin: 0;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 20px;
    }

    p {
        margin: 0;
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 1.3;
    }
}

#terms {
    align-items: start;
    padding-top: 30px;

    a {
        text-decoration: none;
    }

    h1 {
        font-size: 35px;
        margin: 0;
        margin-bottom: 10px;
    }

    h2 {
        margin: 0;
        margin-bottom: 15px;
        margin-top: 25px;
        font-size: 26px;
    }

    p {
        margin: 0;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 1.3;
    }
}

#privacy {
    align-items: start;
    padding-top: 30px;

    a {
        text-decoration: none;
    }

    h1 {
        font-size: 35px;
        margin: 0;
        margin-bottom: 10px;
    }

    h2 {
        margin: 0;
        margin-bottom: 15px;
        margin-top: 25px;
        font-size: 26px;
    }

    p {
        margin: 0;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 1.3;
    }
}